:root {
    --color-white: #fff;
}


/* CSS Document */

*,
*::after,
*::before {
    box-sizing: border-box;
}


/****************************************************/


/***************ALGEMENE STYLING*********************/


/****************************************************/

body {
    font-family: HamburgTS, Arial, Helvetica, sans-serif;
    color: #303030;
    background: var(--color-white);
    width: 100vw;
    margin: 0;
    padding-top: 3em;
}

main {
    display: grid;
    place-items: center center;
    background: var(--color-white);
    padding: 1em;
    max-width: 100%;
}

main>section,
main>article {
    min-width: 400px;
    width: 100%;
}

main img {
    width: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
}


/****************************************************/


/*****************HEADER STYLING*********************/


/****************************************************/

header {
    position: relative;
}

nav button {
    background: none;
    border: none;
}

nav:first-of-type>div {
    background: var(--color-white);
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10;
}

nav:first-of-type div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding-right: 1em;
}

nav>a:hover,
nav button:hover {
    border-radius: 75px;
    background: #BEC8CB;
}

nav:first-of-type ul {
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 3em 0 0;
    width: 100%;
    /* HAMBURGER STYLING */
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translatex(-100%);
    transition: .5s;
    z-index: 5;
}

nav:first-of-type.toonMenu ul {
    transform: translatex(0);
}

nav ul li {
    padding: 1em;
    background-color: var(--color-white);
    border-top: 1px solid grey;
}

nav ul li:first-child a {
    color: #00ADE6;
}

nav ul a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: grey;
}


/* TWEEDE NAV STYLING */

nav:nth-of-type(2) ul {
    padding: 0;
}

nav:nth-of-type(2) ul {
    background: black;
    color: var(--color-white);
}

nav:nth-of-type(2) ul li {
    background: black;
    color: var(--color-white);
}

nav:nth-of-type(2) ul li a {
    color: grey;
    text-decoration: none;
}

nav:nth-of-type(2) ul a:hover {
    color: var(--color-white);
}

nav:nth-of-type(2) div {
    display: none;
}

nav:nth-of-type(2) ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}


/****************************************************/


/*****************SEARCH STYLING*********************/


/****************************************************/

form {
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    overflow: hidden;
    margin: 1em;
}

form input {
    width: 100%;
    height: 2em;
    border: none;
    padding: 2em;
    background: #f0f4f7;
}

form button {
    border: none;
    background: #f0f4f7;
    padding: 1em;
}

section form {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
}

section form input {
    background: var(--color-white);
}

section form button {
    background: #ea3d3d;
}


/****************************************************/


/*****************FIRST H1 STYLING*******************/


/****************************************************/

section:first-of-type {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    max-width: 830px;
    max-height: 295px;
}

h1 {
    color: var(--color-white);
    text-shadow: grey;
}

section:first-of-type div {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    place-items: center;
    background: linear-gradient(to bottom);
}


/****************************************************/


/*****************SECOND SECTION STYLING**************/


/****************************************************/

main>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* main>section h2,
main>section a {
    width: fit-content;
} */

section article img {
    position: relative;
    height: 150px;
}

section article {
    min-width: 300px;
    max-width: 25vw;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 15px 18px 0 rgb(0 0 0 / 5%);
    /* box-shadow van allerhande overgenomen*/
    margin-bottom: 2em;
}


/* section article:hover { 
    margin-top: -1em;
    transition: .5s;
}
*/

main section:not(:first-of-type) div {
    width: 100%;
    display: flex;
    gap: 1em;
    overflow: scroll;
    justify-content: flex-start;
    align-self: flex-start;
}

section article ul {
    color: black;
    display: flex;
    flex-direction: row;
    background: #f2f2f2;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

section div article h3 {
    color: black;
    background: var(--color-white);
    margin: 1em;
    height: 60px;
}

.laatstelink {
    background: #ea3d3d;
    color: var(--color-white);
    padding: 1em;
    border-radius: 5px;
    text-decoration: none;
}

.laatstelink:hover {
    background: palevioletred;
}

article>a {
    text-decoration: none;
}

article {
    padding-top: 2em;
}


/****************************************************/


/*****************THIRD SECTION STYLING**************/


/****************************************************/

section:nth-of-type(3) {
    padding-top: 2em;
}

section:nth-of-type(3) div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/****************************************************/


/*****************FOOTER STYLING*********************/


/****************************************************/

footer {
    background: #f2f2f2;
    margin: 1em;
    padding: 2em;
}

footer>a {
    display: flex;
    justify-content: center;
}

footer img:hover {
    fill: red;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    list-style: none;
    padding: 0;
}

footer ul:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer ul a {
    text-decoration: none;
    color: black;
}

footer ul a:hover {
    text-decoration: underline;
}


/* RESPONSIVE MEDIA QEURIES */

@media screen and (min-width: 1024px) {
    main section:not(:first-of-type) div {
        flex-wrap: wrap;
    }
    main section article {
        min-width: 250px;
        max-width: 22vw;
    }
    nav:nth-of-type(2) div {
        display: flex;
    }
    footer ul:last-child {
        flex-direction: row;
    }
}

@media screen and (min-width: 800px) {
    main>div {
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        gap: 10px;
        grid-template: 1fr 1fr / 1fr 1fr;
    }
    main>div article:first-of-type {
        grid-column: 1 / span 2;
    }
    main>div article {
        padding: 0;
        position: relative;
    }
    main>div article p {
        position: absolute;
        bottom: 10px;
        padding: 1em;
        color: var(--color-white);
    }
    main>div article img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}