/* CSS Document */
*, *::after, *::before {
  box-sizing: border-box;  
}

/****************************************************/
/***************ALGEMENE STYLING*********************/
/****************************************************/

body {
  font-family: HamburgTS,Arial,Helvetica,sans-serif;
  color: #303030;
  background: #f2f2f2;
  width: 100vw;
  margin: 0;
}

main {
  display: grid;
  place-items: center center;
  background: white;
  padding: 2em;
  margin: 1em;
  max-width: 100%;
}



main > section, main > article {
  min-width: 400px;
  width: 100%;
}

main img {
  width: 100%;
  object-fit: cover;
}


/****************************************************/
/*****************HEADER STYLING*********************/
/****************************************************/

header {
  width: 100%;
}

nav {
  overflow: hidden;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 12px;
}

nav:nth-of-type(2) {
  background: black;
  color: white;
}

/****************************************************/
/*****************SEARCH STYLING*********************/
/****************************************************/

form {
  display: flex;
  flex-direction: row;
  font-size: 2em;
}

form input {
  width: 100%;
  border: none;
  padding: 2em;
}


/****************************************************/
/*****************FIRST H1 STYLING*******************/
/****************************************************/

section:first-of-type {
  position: relative;
}

h1 {
  color: white;
  text-shadow: grey;
}

section:first-of-type div {
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  place-items: center;
  background: linear-gradient(to bottom);
}


/****************************************************/
/*****************SECOND SECTION STYLING**************/
/****************************************************/

main > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > section h2, main > section a {
  width: fit-content;
}

section article img {
  position: relative;
  height: 150px;
}

section article {
  min-width: 300px;
  max-width: 25vw;
  display: flex;
  flex-direction: column;
  padding:0;
  border-radius: 16px;
  overflow: hidden;
  box-shadow:0 15px 18px 0 rgb(0 0 0 / 5%); 
  /* box-shadow van allerhande overgenomen*/
  margin-bottom: 2em;
  
}

main section:not(:first-of-type) div {
  width: 100%;
  display: flex;
  gap: 1em;
  overflow: scroll;
  justify-content: flex-start;
  align-self: flex-start;
}

section article ul {
  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  justify-content: space-evenly;
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

section article h3 {
  background: white;
  margin: 1em;
  height: 50px;
}

section a:last-of-type {
  background: red;
  color:white;
  padding: 1em;
  border-radius: 5px;
  text-decoration: none;
  
}

section a:last-of-type:hover {
  background: palevioletred;
  color:white;
  padding: 1em;
  border-radius: 5px;
  text-decoration: none;
}

article {
  padding-top: 2em;
}